<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dodo.xinyue.dodocomic">

    <!-- 极光推送 必须权限 -->
    <permission
        android:name="com.dodo.xinyue.dodocomic.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!-- 极光推送 必须权限 -->
    <!--官方定义的权限，允许应用接收 JPush 内部代码发送的广播消息-->
    <uses-permission android:name="com.dodo.xinyue.dodocomic.permission.JPUSH_MESSAGE" />
    <!--允许应用可以接收点亮屏幕或解锁广播-->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <!--允许应用可以访问网络-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--允许应用访问手机状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--允许应用写入外部存储-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许应用读取外部存储-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--允许应用挂载/卸载外部文件系统-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!--允许应用获取网络信息状态，如当前的网络连接是否有效-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--允许应用读写系统设置项-->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- 极光推送 可选权限. 如果需要定位则必须添加 -->
    <!--<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> &lt;!&ndash; 用于开启 debug 版本的应用在 6.0 系统上的层叠窗口权限 &ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
    <!--<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />-->
    <!--<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />-->
    <!--<uses-permission android:name="android.permission.GET_TASKS" />-->
    <!--允许应用震动。 该权限从 JPush 3.1.5 版本开始变为可选权限，在 3.1.5 前版本为必须权限-->
    <!--<uses-permission android:name="android.permission.VIBRATE" />-->

    <!--
        android:largeHeap="true"//大内存
        android:persistent="true"//常驻内存
        android:resizeableActivity="false"//不支持分屏
    -->
    <!--Android8.0强制使用圆形图标,需要进行适配-->
    <!--手机缓存图标导致应用图标不更新的解决办法：更换手机主题(间接清除图标缓存)-->
    <application
        android:name=".MainApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/DoDoAppTheme"
        tools:replace="android:allowBackup,android:supportsRtl"><!--解决清单文件合并冲突-->
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"><!--adjustResize|stateHidden--><!--adjustPan-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--极光推送-->
        <!--自定义广播接收器-->
        <receiver
            android:name=".push.ComicPushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <!--Required 用户注册 SDK 的 intent-->
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!--Required 用户接收 SDK 消息的 intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!--Required 用户接收 SDK 通知栏信息的 intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!--Required 用户打开自定义通知栏的 intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <category android:name="com.dodo.xinyue.dodocomic" />
            </intent-filter>
        </receiver>

        <!--极光推送-->
        <!-- Required. For publish channel feature -->
        <!-- JPUSH_CHANNEL 是为了方便开发者统计 APK 分发渠道。-->
        <!-- 例如: -->
        <!-- 发到 Google Play 的 APK 可以设置为 google-play; -->
        <!-- 发到其他市场的 APK 可以设置为 xxx-market。 -->
        <meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>
        <!-- Required. AppKey copied from Portal -->
        <meta-data android:name="JPUSH_APPKEY" android:value="e62be49c55d9048cdac93a9f"/>

    </application>

</manifest>